* {
    padding: 0;
    margin: 0;
    font-family: "Inria Sans", sans-serif;
}

h1 {
    padding-bottom: 17px;
}

h2 {
    font-size: 1.3rem !important;
    padding: 10px;
    transition: all 100ms ease;
    
}

h2:hover {
    transition: all 100ms ease;
    padding: 10px 15px;
    transform: scale(1.05);
    cursor: pointer ;
}

h3 {
    font-size: 1.2rem !important;
    color: rgb(142, 92, 0);
    border-bottom: rgb(142, 92, 0) 1px solid;
    padding-bottom: 5px;
    margin-bottom: 15px !important;
}

p {
    padding: 0;
    line-height: 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form {
    padding: 20px;
    width: 60%;
    position: absolute;
}

.orders {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 25px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.order {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

#type {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#item {
    min-width: 380px;
    border-radius: 0;
    border-left: white 1px solid;
    border-right: white 1px solid;
}

#quantity {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.overview {
    float: right;
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.add {
    height: 40px;
    width: 40px;
    font-size: 2rem;
    line-height: 1px;
    background-color: lightgreen;
    border: black 1px solid;
    border-radius: 999px;
}

.remove {
    background-color: lightcoral;
}

.ovvwText {
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

select {
    padding: 5px;
    border: #888 1px solid;
    border-radius: 15px;
    font-size: 1.4rem !important;
}