* {
    padding: 0;
    margin: 0;
    font-family: 'JI Burrito';
    
}

@font-face {
    font-family: 'JI Burrito';
    src: url('../JI\ Burrito.ttf') format('truetype');
}

body {
    background-image: url('../Images/front-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(237, 146, 9, 0.626);
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 5.3rem;
    color: #c02226;
    -webkit-text-stroke: .001rem rgb(0, 0, 164);
    text-shadow: 0 0 4px black;
    cursor: pointer;
    transition: all 100ms ease;
    
}

h1:hover {
    transition: all 100ms ease;
    transform: scale(1.1);
}

img {
    filter: drop-shadow(0 0 .4rem black);
}

.up {
    animation: show-up 1s ease;
}

@keyframes show-up {
    0% {transform: translateY(-300px); opacity: 0;}
    100% {transform: translateY(0px);}
}

.left {
    animation: show-left 1s ease;
}

@keyframes show-left {
    0% {transform: translateX(100px); opacity: 0;}
    100% {transform: translateX(0px);}
}

.right {
    animation: show-right 1s ease;
}

@keyframes show-right {
    0% {transform: translateX(-100px); opacity: 0;}
    100% {transform: translateX(0px);}
}

